<h1>Blogs</h1>

<div id="blog_wrapper">
  <%= form_with(model: Blog.new, remote: true, format: :json) do |form| %>
    <div class="d-flex flex-row align-items-center">
      <div class="d-flex flex-row">
        <div class="field" style="margin-right: 20px; padding-top: 5px;">
          <%= form.label :content %>
          <%= form.text_field :content, "v-model": "content", "@submit": "onSubmit" %>
        </div>

        <div class="actions">
          <%= form.submit "送信", class: "btn btn-info", "@click.prevent": "add_content()" %>
        </div>
      </div>
      <br>
    </div>
  <% end %>

  <div class="d-flex flex-row" style="margin-bottom: 10px;">
    <div style="width: 150px; padding: 0 20px 0 20px; font-weight: bold;">Content</div>
    <div style="width: 150px; font-weight: bold;">edit_form</div>
  </div>
  
  <blog-list v-for="content in contents.data" :key="blog.id" />
</div>
<br>


<%= link_to "メモへ", memos_path, class: "btn btn-info" %>